.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  margin: 1rem;
  border: 3px solid black;
  background-color: rgb(254, 254, 254);
}
.item-1 {
  min-height: 100px;
  min-width: 100px;
  flex-grow: 1;
}
.item-2 {
  min-height: 100px;
  min-width: 100px;
  flex-grow: 1;
}
.item-3 {
  justify-content: space-around;
  min-height: 100px;
  min-width: 100px;
  flex-grow: 1;
}
.item-4 {
  min-height: 100px;
  min-width: 100px;
  flex-grow: 1;
}
.auction {
  justify-content: space-between;
}
